@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
    <meta charset=utf-8 />
    <title>JS Bin</title>
    <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        article, aside, figure, footer, header, hgroup,
        menu, nav, section {
            display: block;
        }
    </style>
</head>

<!-- Client side libs required  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/css/blueimp-gallery.min.css" crossorigin="anonymous">

<style>
    html {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    main {
        margin: 20px;
    }

    #gallery-note {
        font-size: smaller
    }

    .blueimp-gallery {
        margin: 25px;
        max-width: 150px;
        padding-bottom: 150px;
    }

    .c-red {
        color: red;
    }

    p {
        color: rgba(0,0,0,.87);
        margin: 20px auto;
        font-size: 15px;
    }

    .form-group {
        margin-bottom: 20px;
    }

        .form-group input.txt, .form-group select.txt {
            height: 42px;
        }

        .form-group label:not(.text-danger) {
            font-weight: 400;
            font-size: 15px;
            color: rgba(0,0,0,.87) !important;
        }


    .dropzone {
        border: 3px dashed #00a1f1;
        background: #F0F8FF;
        margin: 25px;
        border-radius: 5px;
        max-width: 400px;
    }

        .dropzone .dz-message {
            font-weight: 350;
        }

            .dropzone .dz-message .note {
                font-family: sans-serif;
                font-size: 18px;
                font-weight: 200;
                display: block;
                margin-top 1.5rem;
            }
</style>


<main>
    <div class=" px-0"><a class="navbar-brand  d-none d-md-block" href="https://www.meijer.com/content/meijer/en/index.html"><img src="https://www.meijer.com/content/dam/meijer/meijer-corporate/logos/MeijerLogo-Primary-FullColor.svg" alt="Meijer logo" width="200px"></a></div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <img style="width:300px; margin-left:13%;" img-circle1 img-responsive" src="https://sabipocpoc.blob.core.windows.net/content/DAAG.jpg" alt="Community Logo Customize">
    </div>
    <div style="width:70vw; margin:0 auto;">
        <div class="box content">
            <hr>
            <h2>Upload Your Art</h2>
            <div>
                <form action="/api/images/upload" method="post" enctype="multipart/form-data" id="upload-image" name="upload-image" accept="image/*">
                    <img id="sample" src="https://sabipocpoc.blob.core.windows.net/content/Photos-new-icon.png" name="sample" />
                    <br><br>
                    <input type="file" name="file" id="file" onchange="readURL(this);">
                    <br><br>
                    <input type="hidden" name="user_id" value="email">
                    <input type="hidden" name="dynamic_survey_id" value="874">
                    <br><br>
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label class="title_lbl" for="userName">First and Last Name <span class="c-red">*</span></label>
                                <input type="text" name="name" value="" id="name" class="form-control open" required placeholder="First and Last Name">
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="form-group">
                                <label class="title_lbl" for="email">Email <span class="c-red">*</span></label>
                                <input type="email" name="email" value="" id="email" class="form-control open" required placeholder="Email">
                            </div>
                        </div>
                    </div>

                    <input type="submit" value="submit" name="submit">

                </form>
            </div>
        </div>
    </div>
</main>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-gallery/2.25.2/js/blueimp-gallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#sample')
                    .attr('src', e.target.result)
                    .width(400);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
